---
import BackToTheTop from "@/components/BackToTheTop.astro"
import Header from "@/components/Header.astro"
import IconsIndicator from "@/components/IconsIndicator.astro"
import "@fontsource/geist-sans/400.css"
import "@fontsource/geist-sans/500.css"
import "@fontsource/geist-sans/600.css"
import "@fontsource/geist-sans/700.css"
import { ViewTransitions } from "astro:transitions"

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Tool collection for web developers" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta property="og:title" content={title} />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://web-vault.vercel.app/" />
		<meta
			property="og:description"
			content="Tool collection for web developers"
		/>
		<meta property="og:site_name" content={title} />
		<meta name="twitter:site" content="@Jes015" />
		<meta name="twitter:title" content={title} />
		<meta
			name="twitter:description"
			content="Tool collection for web developers"
		/>
		<ViewTransitions />
	</head>
	<body id="top" class="grid sm:place-items-center text-sm scroll">
		<div class="flex flex-col gap-1 max-w-[40rem] w-full mt-5 sm:mt-10">
			<IconsIndicator />
			<div class="border rounded-md w-full">
				<Header />
				<main
					class="px-2 p-1 bg relative overflow-x-clip min-h-[50dvh]"
				>
					<slot />
				</main>
			</div>
		</div>
		<BackToTheTop />
		<style is:global>
			html {
				scrollbar-gutter: stable;
				scroll-behavior: smooth;
			}

			body {
				font-family:
					"Geist Sans",
					sans-serif,
					system-ui,
					-apple-system,
					BlinkMacSystemFont,
					"Segoe UI",
					Roboto,
					Oxygen,
					Ubuntu,
					Cantarell,
					"Open Sans",
					"Helvetica Neue",
					sans-serif;

				background-color: #ffffff;
				background-image: url("data:image/svg+xml,%3Csvg width='120' height='120' viewBox='0 0 120 120' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 0h2v20H9V0zm25.134.84l1.732 1-10 17.32-1.732-1 10-17.32zm-20 20l1.732 1-10 17.32-1.732-1 10-17.32zM58.16 4.134l1 1.732-17.32 10-1-1.732 17.32-10zm-40 40l1 1.732-17.32 10-1-1.732 17.32-10zM80 9v2H60V9h20zM20 69v2H0v-2h20zm79.32-55l-1 1.732-17.32-10L82 4l17.32 10zm-80 80l-1 1.732-17.32-10L2 84l17.32 10zm96.546-75.84l-1.732 1-10-17.32 1.732-1 10 17.32zm-100 100l-1.732 1-10-17.32 1.732-1 10 17.32zM38.16 24.134l1 1.732-17.32 10-1-1.732 17.32-10zM60 29v2H40v-2h20zm19.32 5l-1 1.732-17.32-10L62 24l17.32 10zm16.546 4.16l-1.732 1-10-17.32 1.732-1 10 17.32zM111 40h-2V20h2v20zm3.134.84l1.732 1-10 17.32-1.732-1 10-17.32zM40 49v2H20v-2h20zm19.32 5l-1 1.732-17.32-10L42 44l17.32 10zm16.546 4.16l-1.732 1-10-17.32 1.732-1 10 17.32zM91 60h-2V40h2v20zm3.134.84l1.732 1-10 17.32-1.732-1 10-17.32zm24.026 3.294l1 1.732-17.32 10-1-1.732 17.32-10zM39.32 74l-1 1.732-17.32-10L22 64l17.32 10zm16.546 4.16l-1.732 1-10-17.32 1.732-1 10 17.32zM71 80h-2V60h2v20zm3.134.84l1.732 1-10 17.32-1.732-1 10-17.32zm24.026 3.294l1 1.732-17.32 10-1-1.732 17.32-10zM120 89v2h-20v-2h20zm-84.134 9.16l-1.732 1-10-17.32 1.732-1 10 17.32zM51 100h-2V80h2v20zm3.134.84l1.732 1-10 17.32-1.732-1 10-17.32zm24.026 3.294l1 1.732-17.32 10-1-1.732 17.32-10zM100 109v2H80v-2h20zm19.32 5l-1 1.732-17.32-10 1-1.732 17.32 10zM31 120h-2v-20h2v20z' fill='%237c7c7c' fill-opacity='0.04' fill-rule='evenodd'/%3E%3C/svg%3E");
			}

			.scroll {
				--sb-track-color: #ffffff;
				--sb-thumb-color: #c8c8c8;
				--sb-size: 7.6px;
			}

			.scroll::-webkit-scrollbar {
				width: var(--sb-size);
			}

			.scroll::-webkit-scrollbar-track {
				background: var(--sb-track-color);
				border-radius: 13px;
			}

			.scroll::-webkit-scrollbar-thumb {
				background: var(--sb-thumb-color);
				border-radius: 13px;
			}

			@supports not selector(::-webkit-scrollbar) {
				.scroll {
					scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
				}
			}
		</style>
	</body>
</html>
